%h1 Your crews

- @crews.each do |crew|
  =link_to "#{crew.name.capitalize} crew", crew_path(crew)
    
  %ul
    %li= link_to 'Members', crew_memberships_path(crew)
    %li= link_to 'Proposals', crew_proposals_path(crew)
   
