%h2 Members
=render :partial=>"members_table", :locals=>{:memberships=>@memberships}
     

%br= link_to 'Back to proposals', crew_proposals_path(@crew)
%br= link_to 'Back to crew', crew_path(@crew)



