body {
  background: #e7e7de;
  color: #3e3e3e;
  font-family: verdana, sans-serif; }

a {
  color: #3e3e3e; }

header {
  display: block;
  position: relative;
  height: 50px; }
  header h1 {
    position: absolute;
    left: 50px;
    margin: 0px;
    top: -25px;
    font-family: 'Lobster', serif;
    font-size: 3em;
    text-shadow: 1px 4px 6px rgba(0, 0, 0, 0.5);
    text-transform: capitalize;
    }
    header h1 a {
      color: inherit;
      text-decoration: inherit; }
  header nav {
    position: absolute;
    right: 20px;
    top: 0px;
    background: #172322;
    padding: 5px 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px; }
    header nav a {
      color: white;
      text-decoration: none; }
      header nav a:hover {
        text-decoration: underline; }
    header nav ul {
      margin: 0px;
      padding-left: 0px; }
      header nav ul li {
        display: inline;
        margin-left: 10px; }
      header nav ul li:first-child {
        margin-left: 0px; }

.everything {
  width: 980px;
  margin: 20px auto 0px; }
  .everything .content {
    font-family: Georgia;
    background: white;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    padding: 10px 20px; }

.footer {
  text-align: center;
  color: rgba(20, 20, 20, 0.5);
  margin-top: 20px;
  font-size: 0.8em; }

form {
  background: #faf9f6;
  border-top: 1px dotted #999999;
  padding: 10px 50px;
  margin: 10px -20px 5px; }
  form label {
    font-weight: bold; }
  form span.hint {
    font-weight: normal;
    color: gray;
    font-style: italic;
    font-size: 0.9em; }
  form input[type=submit] {
    font-size: 1.1em;
    background: #172322;
    color: white;
    font-weight: bold;
    border: none;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    padding: 5px 20px;
    cursor: pointer; }
    form input[type=submit]:hover {
      background: black; }

.proposals_nav, .pagination {
  background: #faf9f6;
  text-align: center;
  margin: 0px;
  padding-left: 0px;
  padding: 10px 30px;
  margin: 0px -20px; }
  .proposals_nav li, .pagination li {
    display: inline;
    margin-left: 10px; }
  .proposals_nav li:first-child, .pagination li:first-child {
    margin-left: 0px; }

.pagination {
  border-bottom: 1px dotted #999999; }

.proposals_nav {
  border-top: 1px dotted #999999; }

.empty {
  text-align: center;
  margin: 50px;
  font-size: 2em;
  color: #999999; }

.proposals {
  border-collapse: collapse;
  margin: 0px -20px;
  width: 100%;
  font-family: Verdana;
  font-size: 0.9em; }
  .proposals td {
    padding: 10px 3px; }
  .proposals tr.closed td {
    background: #CCFFCC;
    color: #666666;
    font-style: italic; }
  .proposals tr.cancelled td {
    background: #FFCCFF;
    color: #666666;
    font-style: italic; }
  .proposals tr.withdrawn td {
    background: #D0D0D0;
    color: #666666;
    font-style: italic; }    
  .proposals thead {
    background: #3e3e3e;
    color: white; }
    .proposals thead th {
      font-weight: normal; }
    .proposals thead a {
      color: white; }
   .proposals td.status{
      font-weight: bold;
      text-align: center;
   }
  .proposals td.count{
      font-family: 'Lobster', serif;
      text-align: center;
      
    }
    .proposals td.date{
      font-size: 0.8em;
      text-align: center;
    }
    .proposals td.nickname{
      font-family: 'Reenie Beanie', arial, serif;
      font-size: 1.5em;
    }
    .proposals td.count span.yes{
      color: #41A317;
    }
    .proposals td.count span.support{
      color: orange;
    }
    .proposals td.count span.no{
      color: red;
    }
     .proposals td.count span.pass{
      color: grey;
    }
.proposal h3 span {
  color: gray;
  font-size: 0.8em; }
  .proposal .nickname{
      font-family: 'Reenie Beanie', arial, serif;
      font-size: 1.5em;
     }  
     
.fieldWithErrors {
  padding: 2px;
  background-color: red;
  display: table;
}
     
#errorExplanation {
  width: 400px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  background-color: #c00;
  color: #fff;
}

#errorExplanation p {
  color: #333;
  margin-bottom: 0;
  padding: 5px;
}

#errorExplanation ul li {
  font-size: 12px;
  list-style: square;
}

