.board.content {
  background-color: inherit;
  -moz-box-shadow: none;
  width: 100%; }

#board {
  text-align: center;
  width: 98%;
  margin: 0px auto; }

.column {
  border-width: 8px;
  border-style: solid;
  border-color: white;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  float: left;
  margin-right: 1%;
  position: relative;
  background-color: white; }
  .column:last-child {
    margin-right: 0%; }
  .column h2 {
    margin: 0;
    padding: 10px;
    color: #2e2e2e; }
  .column .tickets {
    margin: 5px 0;
    overflow-y: auto;
    -webkit-user-drag: element;
    -khtml-user-drag: element;
    -moz-user-drag: element; }
  .column .count {
    margin: 0 10px;
    font-size: 80%; }

.columns6 .column {
  width: 15%; }

.columns5 .column {
  width: 18%; }

.columns4 .column {
  width: 23%; }

.columns3 .column {
  width: 31%; }

.column.over {
  -moz-box-shadow: 0px 0px 20px #555; }

.ticket {
  border: 2px solid #eee4bb;
  background-color: #fff5cc;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  margin: 8px 4px;
  padding: 5px;
  padding-left: 30px;
  text-align: left;
  cursor: pointer;
  position: relative; }
  .ticket hr {
    border: 0px;
    border-bottom: 1px dashed white; }
  .ticket[draggable=true] {
    -khtml-user-drag: element;
    -webkit-user-select: none;
    -moz-user-select: none; }
  .ticket .label {
    right: 3px;
    top: 3px;
    font-size: 16px;
    padding: 2px;
    background: white;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    color: #666; }
  .ticket input.label {
    max-width: 20px;
    top: 4px; }

.selected {
  -moz-box-shadow: 1px 1px 1px gray;
  -webkit-box-shadow: 1px 1px 1px gray;
  color: white;
  border: 2px solid #2384bf;
  background: #2384bf; }

.moving {
  -moz-box-shadow: 2px 2px 1px #555;
  -webkit-box-shadow: 2px 2px 1px #555; }

.limit_reached {
  background: #f0b8a0; }
  .limit_reached .count {
    color: darkRed;
    font-weight: bold;
    font-size: 100%; }

#comments div {
  font-size: 80%;
  width: 80%;
  margin: auto;
  position: relative; }
  #comments div .label {
    left: -45px;
    top: 0; }
#comments hr {
  background-color: #2384bf;
  height: 2px;
  border: none;
  width: 80%; }

legend {
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  background-color: #2384bf;
  color: white;
  border-width: 3px;
  border-style: solid;
  border-color: #2384bf; }

fieldset {
  border: none;
  background-color: #fff5cc; }

label {
  display: block;
  width: 100px; }

li {
  list-style-type: circle;
  margin: 10px; }

.label {
  background-color: #2384bf;
  color: white;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  position: absolute;
  border: none;
  cursor: pointer;
  min-width: 20px;
  max-width: 40px;
  overflow: hidden;
  text-align: center;
  font-size: 12px; }

.label:hover {
  max-width: 100%; }

input.title_edit {
  font-size: 19px;
  height: 24px;
  width: 100%;
  margin-top: 12px; }

.activities .activity {
  border-bottom: 1px solid #CCC;
  margin-bottom: 5px; }
  .activities .activity span {
    background-color: #BBD8EE;
    color: #555;
    padding: 0px 3px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px; }
  .activities .activity .description {
    color: gray;
    padding: 4px 10px;
    font-size: 85%; }
