%p="Welcome  #{@resource.email}!"

%p="You can confirm your #{ ENV['CREW'] || 'dynamocracy'} account through the link below:"

%p= link_to 'Confirm my account', confirmation_url(@resource, :confirmation_token => @resource.confirmation_token)
