%h1 
  New invitation for crew 
  =@invitation.crew.name
- form_for [:crew, @invitation] do |f|
  = f.error_messages
  
  = f.label :email, "Email : "
  %br
  = f.text_field :email
  %br
  %br
  = submit_tag 'Invit a new crewman'
  
