%h3
  Proposal
  %span= "Nº#{proposal.id}"

.nickname
  =proposal.user.nickname
  = proposal.full_status == 'open' ? 'proposes:' : 'proposed:'
%br
%spa=proposal.text
  
  

  
  
-if mine?(proposal) && proposal.votes
  -votes = proposal.votes
  -[[votes.find_all{|v| v[0]='pass'},'Some may vote yes if :'], [votes.find_all{|v| %w(veto no).include?(v[0])}, 'Some would have voted yes if :'], [votes.find_all{|v| %w(yes support).include?(v[0])}, 'Some suggests :']].each do |votes_and_suggest|   
    -if ! votes_and_suggest[0].empty?
      %h3= votes_and_suggest[1]
      %ul
      -votes_and_suggest.each do |vote_and_suggest|
        -if !vote_and_suggest.empty?
          %li=vote_and_suggest.inspect




