%h1 Proposal detail


%h2
  =@proposal.user.nickname 
  proposes : 
%p
  =@proposal.text



This proposal has been scheduled to be opened at :
%span= facebook_distance_of_time_in_words @proposal.opening_at
%br
and to be closed at :
%span= facebook_distance_of_time_in_words @proposal.closing_at
%br
  
= link_to 'Vote on this proposal', new_proposal_vote_path(@proposal)


= link_to 'Back to list', proposals_path
