%h1 Proposal 
%div#proposal.proposal.details
  =render :partial => "proposal_detail", :locals=>{:proposal=>@proposal}

%br
Open :
%span= date_distance @proposal.opening_at 
%br
Close :
%span= date_distance @proposal.closing_at
%br
%br
%span= render :partial=>'votable', :locals=>{:proposal=>@proposal, :my_signatures=>@my_signatures}
%span= render :partial=>'withdrawable', :locals=>{:proposal=>@proposal, :my_signatures=>@my_signatures}

