%h1="Hello #{@user.nickname}"

%h2 Here are the breaking news from your Dynamocracy crews:

= render :partial=>'application/news'

If you want to change you Dynamocracy newsletter settings follow the link below :
= link_to "My settings", edit_user_registration_url(@user)

