%h1 Help

%h2 Main concepts
%ul
  %li A Crew : a crew is a body or a class of people who work at a common activity, generally in a structured or hierarchical organisation. 
  %li Proposals : any member of a crew can make proposal : "I propose blah blah...". A proposal has an openning and a closing date. During this period, crewmen can vote the proposal.
  %li Vote : crewmen can vote proposal when open. A vote has a value, and a comment. Vote are anonymous, except for veto. 
  %li consensus emerge, decisions are made

    
 
