%h1 New vote on proposal



- semantic_form_for [:proposal, @vote] do |f|
  = f.error_messages
  = f.inputs :value, :as => :radio, :collection => ['yes','support','no','pass','veto']
  = f.inputs :comment
  = f.buttons
  
